
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --index1: #1b6636;
    --index2: #6c5381;
    --index3: #449c64d7;
    --index4: #b9904e;
    --index5: #755b32;
    --texto: 'Roboto Slab', serif;
}

html, body {
    margin: 0;
    padding: 0;
    max-height: 100%;
    text-align: center;
    background-color: #2a8f4f;
}

img {
    width: 100%;
}

h1{
    width: 100%;
    color: #fefefe;
    font-family: 'Playfair Display', serif;
    margin: auto;
    padding: 10px 0;
}

.title_cont{
    color: yellow;
    background-color: black;
}

.somb{
    text-shadow: 4px 2px 0px #053d19d2;
}

nav{
    width: 100%;
    background-color: var(--index1);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li{
    display: flex;
    width: 33%;
    padding: 1px;
}

.nav_cont{
    color: yellow;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: var(--ervas6);
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fefefe;
}

#contraste{
    width: 24%;
    margin: auto;
}

.back_cont{
    background-color: white;
}

.mudar_cor{
    background-color: black !important;
    color: white !important;
}

.container {
    display: block;
    background-color: whitesmoke;
    margin: 19px;
    border-radius: 10px;
    padding: 1px 18px;
    text-align: left;
    font-family: var(--texto);
    color: #3B3B3B;
    font-size: 0.9rem;
}

.imagens {
    margin-bottom: 10px;
}

.imagens img{
    display: initial;
    flex-wrap: wrap;
    width: 40%;
    border-radius: 50%;
    margin: 10px;
    padding: 0;
}

.img_somb{
    box-shadow: 0px 0px 17px 2px #255335;
}

.img_cont{
    border: 5px solid yellow;
}

footer {
    background-color: var(--index2);
    margin: 0;
    padding: 1px;
    color: whitesmoke;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
        margin: 0;
        padding: 14px;
    }

    nav li {
        width: 13%;
        justify-content: center;
        margin: 10px 0;
        padding: 3px;
    }

    nav .back:hover {
        background-color: #8f6a2fb0;
        border-radius: 10px;
    }

    #contraste{
        width: 13%;
    }

    .container {
        margin: 32px 182px;
    }

    .imagens {
        margin-bottom: 73px;
    }

    .imagens img {
        width: 21%;
        margin-top: 10px;
    }
}



