@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
    --suculentas1: #D2D5D0;
    --suculentas2: #AEBCB0;
    --suculentas3: #314840;
    --suculentas4: #663366;
    --suculentas5: #8C4848;
    --texto: 'Roboto Slab', serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    
}

img {
    width: 100%;
}

h1{
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    color: #fefefe;
    text-shadow: 3px 1px 0px #321a32;
    font-family: 'Playfair Display', serif;
}

.somb{
    text-shadow: 4px 2px 0px var(--ervas5);
}

.title_cont{
    color: yellow !important;
    background-color: black !important;
}

nav{
    top: 0;
    width: 100%;
    position: fixed;
    background-color: var(--suculentas4);
    z-index: 1;
}

.nav_cont{
    color: yellow;
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin-top: 70px;
    padding: 0;
}

nav li{
    display: inline-flex;
    width: 33%;
    justify-content: space-between;
    flex-direction: row;
}

a {
    text-decoration: none;
    color: #fefefe;
    font-size: 1rem;
    line-height: 1.5rem;
}

#contraste{
    width: 24%;
    margin: auto;
}

.back_cont{
    background-color: white;
}

.mudar_cor{
    background-color: black !important;
    color: white !important;
}

.fundo1 {
    background-image: url("../Imagens/inicial4.jpg");
}

.fundo1 {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.titulo {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: #fefefe;
    background-color: var(--suculentas2);
    padding: 10px;
    width: 50%;
    font-size: 1rem;
    filter: drop-shadow(4px 4px #182c2c);
    margin: auto;
    border-radius: 0px 23px 0px 23px;
    font-family: 'Playfair Display', serif;

}

.container {
    color: #3B3B3B;
    background-color: whitesmoke;
    padding: 27px 25px;
    text-align: justify;
    font-family: var(--texto);
    font-size: 0.9rem;
}


.cuidados h3 {
    text-align: center;
    color: var(--suculentas3);
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
}

.cuidados ul {
    text-align: justify;
    list-style: none;
    padding: 10px;
    font-family: var(--texto);
    font-size: 0.9rem;
}

.cuidados li {
    padding-bottom: 10px;
}

span {
    font-weight: bold;
    color: var(--suculentas5);
    font-size: 1rem;
}

.img_cont{
    border: 2px solid yellow !important;
}

.cuidados .border {
    border: 2px solid var(--suculentas4);
}

.cuidados table {
    margin: 30px auto;
}

.cuidados table td {
    padding: 1%;
}

.cuidados table > tr, th {
    text-align: center;
    padding: 1%;
}

.vd video {
    width: 100%;
}

.vd {
    display: flex;
    justify-content: center;
}

.galeria h3 {
    text-align: center;
    color: var(--suculentas5);
    font-size: 1.8rem;
}

.imagens {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.galeria img {
    width: 42%;
    padding: 9px;
}

footer {
    background-color: var(--suculentas5);
    margin: 0;
    padding: 2.5px;
    color: whitesmoke;
}

@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    nav li {
        width: 13%;
        justify-content: center;
        margin-top: 10px;
        padding: 3px;
    }

    nav .back:hover {
        background-color: #86c400b9;
        border-radius: 10px;
    }

    #contraste{
        width: 13%;
    }

    .titulo {
        width: 40%;
    }

    .container p {
        width: 70%;
        margin: 20px auto;
    }

    .cuidados li {
        width: 70%;
        margin: auto;
    }

    .cuidados table > tr, th {
        width: 110px;
    }

    .vd video {
        width: 50%;
    }

    .galeria img {
        width: 25%;
    }

    .galeria img:hover {
        filter: grayscale(100%);
    }
}